<a href="https://colab.research.google.com/github/dtype2100/Crawling_practice/blob/master/Crawling_practice_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 환경설정

In [1]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd
import time

# Crawler

In [13]:
title = []
start_num = 1
end_num = 41

while start_num <= end_num:
  url = "https://search.naver.com/search.naver?where=news&sm=tab_pge&query=%EB%8F%84%EC%8B%9C&sort=0&photo=0&field=0&pd=0&ds=&de=&cluster_rank=88&mynews=0&office_type=0&office_section_code=0&news_office_checked=&nso=so:r,p:all,a:all&start=" + str(start_num)
  reponse = requests.get(url)
  soup = bs(reponse.text, 'html.parser')
  title_tags = soup.select('.news_tit')
  start_num += 10
  print(str(start_num)+"번째 완료")
  time.sleep(2)
  for tag in title_tags:
    title.append(tag.text)

11번째 완료
21번째 완료
31번째 완료
41번째 완료
51번째 완료

# DataFrame 만들기

In [16]:
df = pd.DataFrame(title, columns=['title'])

In [20]:
df[df['title'].str.contains('도시')]

                                          title
0           50만원이면 '범죄도시3' 투자자 된다…영화도 '조각투자' 바람
1                  샘솟는 여행 충동...‘보헤미안의 도시’로 떠나볼까
2                  성남시, 유네스코 창의도시 ‘미디어아트 분야’ 선정
3           [World Now] 전 세계에서 가장 살기 좋은/힘든 도시는?
4                      롯데건설, 도시정비사업 약 3조원 수주 달성
5                    롯데건설, 도시정비사업 수주 2조7000억 돌파
6                      부산 도시철도 차량 실내공기질 권고기준 이내
7                                 [신간] 유럽도시기행 2
8                  팍팍한 도시 떠나 시골로…귀농·귀촌 가구 역대 최대
9       '범죄도시2' 보며 모두 웃을 때…나만 웃지 못했다[남기자의 체헐리즘]
10            [더차트]비엔나커피의 고향, 살기좋은 도시 세계1위…서울은?
11          1200만 앞둔 '범죄도시2' 필리핀서 개봉…성황리 시사회 마쳐
12                       부산 도시철도 차량 실내 공기질 '양호'
13                 광주도시철도 2호선, 27일부터 상무지구 추가 공사
14                    건축가 임우진, 한국의 도시를 보다[책과 삶]
15             '도로망 구축·시민보험'…고양시 '자전거 친화도시'로 변모
16              용인시, 구성·마북 도시재생활성화지역 ‘주민 안전 강화’
17                     인천도시공사, 검단신도시 도로 확장공사 착공
18              제천시 민선8기 비전 '역동적이고 새로운 경제도시 제천'
19                               [신간] 보이지 않는 도시
20                       임실군, 오수지구 도시재생 뉴딜사업 공모
21                 충주시, 도시재생 거점시설 ‘문화창업재생허브’ 개관
22             임실군, 전북개발공사와 '오수지구 도시재생 공모' 공동대응
23          김경일 “북파주에 기업 유치…100만 자족도시 밑그림 그리겠다”
24            김해시, 관리직 여성 공무원 비율 늘린다…여성친화도시 발돋움
25  1위부터 85위까지 쭉… '6월 대한민국 도시 브랜드평판' 순위가 발표됐습니다
26                       광명시, 규제혁신 선도 도시 위상 드높여
27             이재수 춘천시장 "새로운 전환도시 추진…안착에 시간 필요"
28                       강릉시 유네스코 창의도시 1차 관문 통과
29             세븐틴, 2년6개월 기다린 日 돔투어 돈다…연말 3개 도시
30                대전시 6.25전쟁 기념행사…"보훈모범 도시 될 것"
31              [지구촌 더뉴스] 전 세계 가장 살기 좋은 도시 1위는?
32                      경산 진량읍 평사리 도시계획도로 확장 개통
33                행복도시건설청 전직원 '이해충돌방지법 청렴교육' 실시
34                '부산을 영어 상용도시로' 부산시·교육청 첫 실무회의
35                     '1등 관광도시 반석' 류한우 단양군수 퇴임
36               "강릉을 기업도시로" 김홍규 당선인 친기업 행보 벌인다
37                   포항시, 해양바이오 글로벌 중심 도시로 도약한다
38         '고원관광 휴양 레저스포츠 도시 태백' 민선 8기 시정 구호 확정
39             혁신도시 들어선 진천 덕산읍 인구 3만 돌파…충북 네 번째
40                 K-City 네트워크 사업 9개국 10개 도시 선정
41                      광주, 인공지능 스타트업 중심도시 자리매김
42               나주혁신도시 빛가람전망대, 온전히 시민 공간으로 탈바꿈
43                          무주군 녹색도시 환경리더 양성 교육
44               광주시 도시철도2호선, 27일부터 상무중앙로 추가 공사
45         [부산시] 웹케시그룹 IT센터로 핀테크 선도도시로 한 걸음 더 外
46          DK아시아·DK도시개발, ‘5세대 하이엔드 아파트’ 첫선 보인다
47                  논란의 서귀포 도시우회도로 추진되나? 새국면 맞아
48                 부산도시공사, 어르신 고독사 예방 안심앱 보급 확대
49                     광명시, 전국 최고 정원문화도시 조성 나섰다

# 중복 확인

In [25]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
dtype: bool